@font-face {
    font-family: 'Minotaur';
    src: local('Minotaur Phatte'), url(../font/minotaur.ttf) format('truetype');
}

body {
    background: url('../img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 256px;
    max-height: 256px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
}

.menu {
    border-top: 1px solid #000000;
}

.border-top-bottom {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

a {
    color: #000000;
}

a:hover {
    color: #222222;
}

.sp-codes {
    font-family: "Minotaur", monospace;
    font-size: 5rem;
    text-align: center;
}

.row {
    margin: 0;
}

.flex-grow {
    flex: 1;
}

@media (max-width: 767.98px) {
    .sp-codes {
        font-size: 3rem;
    }
    .logo {
        max-width: 128px;
        max-height: 128px;
    }
    .fa-4x {
        font-size: 2em;
    }
}